div(class="hero_content position-relative")
 .container
  h1(class="size-60 fw-bold text-white hero_content__mainheading"   data-aos="fade-up"   data-aos-duration="1000") Cutting-Edge Cognitive Vision and Video Analytics Solutions for <span class="red-37">Canadian</span> <span class="yellow">Businesses</span>
  button(class=" text-white learnBtn mt-5" ) Learn More