.about-section.pt-5
 .container 
  .about-section__widget.position-relative.overflow-hidden
   h2(class="mb-4 h2-heading text-white position-relative z-3") About Us 
   .col-6 
    p(class="mb-4 size-18  fw-lighter text-white position-relative z-3") <b>Canny Vision</b> is a Canadian startup delivering <b>customizable AI solutions</b> in motion detection, object classification, behavior tracking, <b>incident detection, and traffic monitoring</b>. With a strong commitment to <b>quality, privacy, and security</b>, our team of experts harnesses the latest advancements in <b>Cognitive Vision and Video Analytics</b> to provide reliable, scalable solutions across key industries.
    p(class="size-18  fw-lighter text-white position-relative z-3") Focused exclusively on the Canadian market, Canny Vision stands at the forefront of video analytics technology, helping organizations elevate their security, efficiency, and intelligence.