.blog-section 
  .container 
   a(href="index.html" class="blog-section__redirect d-block")
     <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.03037 0.719663C8.17097 0.860336 8.24996 1.05109 8.24996 1.24998C8.24996 1.44888 8.17097 1.63963 8.03037 1.7803L2.56064 7.24998L17.25 7.24998C17.4489 7.24998 17.6397 7.329 17.7803 7.46965C17.921 7.6103 18 7.80107 18 7.99998C18 8.19889 17.921 8.38966 17.7803 8.53031C17.6397 8.67096 17.4489 8.74998 17.25 8.74998L2.56064 8.74998L8.03037 14.2197C8.10001 14.2893 8.15525 14.372 8.19294 14.463C8.23063 14.554 8.25002 14.6515 8.25002 14.75C8.25001 14.8485 8.23061 14.946 8.19291 15.037C8.15522 15.128 8.09997 15.2107 8.03032 15.2803C7.96067 15.35 7.87799 15.4052 7.78699 15.4429C7.69599 15.4806 7.59846 15.5 7.49997 15.5C7.40147 15.5 7.30395 15.4806 7.21295 15.4429C7.12196 15.4052 7.03928 15.3499 6.96964 15.2803L0.219636 8.5303C0.217187 8.52787 0.215173 8.52517 0.212769 8.5227C0.197957 8.5075 0.183587 8.49189 0.170106 8.47551C0.162576 8.46635 0.156006 8.45665 0.14898 8.44722C0.141381 8.43705 0.133485 8.42707 0.126386 8.4165C0.119085 8.40561 0.112745 8.39425 0.106062 8.38304C0.100225 8.37324 0.0940681 8.36367 0.0886437 8.35356C0.082624 8.3423 0.077497 8.33067 0.0720727 8.31918C0.0670102 8.30847 0.061681 8.29794 0.0571267 8.287C0.0525489 8.27592 0.0488413 8.26457 0.0448128 8.25331C0.0405556 8.24149 0.0360245 8.22978 0.0323617 8.21769C0.0289745 8.20648 0.0264796 8.19508 0.0236184 8.18373C0.0205059 8.17137 0.0170265 8.1591 0.0145318 8.14651C0.0119452 8.13342 0.0103891 8.12023 0.00851219 8.10709C0.0069325 8.09602 0.00482736 8.08517 0.00373142 8.074C0.00130611 8.04937 6.53511e-07 8.0247 6.55672e-07 7.99998C6.57833e-07 7.97526 0.00130612 7.95059 0.00373144 7.92596C0.00483019 7.91479 0.00693533 7.90394 0.00851221 7.89287C0.0103872 7.87973 0.0119452 7.86655 0.0145318 7.85345C0.0170265 7.84086 0.0205059 7.8286 0.0236184 7.81623C0.0264797 7.80488 0.0289745 7.79348 0.0323617 7.78227C0.0360245 7.77018 0.0405557 7.75846 0.0448129 7.74665C0.0488441 7.73539 0.0525489 7.72404 0.0571267 7.71296C0.0616811 7.70202 0.067014 7.69149 0.0720727 7.68078C0.0774971 7.66929 0.0826241 7.65766 0.0886438 7.6464C0.0940681 7.63629 0.100225 7.62672 0.106062 7.61692C0.112745 7.60571 0.119085 7.59436 0.126386 7.58346C0.133482 7.57289 0.141379 7.56291 0.14898 7.55275C0.156011 7.54332 0.162574 7.53361 0.170106 7.52446C0.183816 7.50775 0.198442 7.49186 0.213547 7.47639C0.215677 7.47423 0.217462 7.47181 0.219636 7.46966L6.96964 0.719663C7.03928 0.650012 7.12197 0.594761 7.21297 0.557066C7.30397 0.519372 7.4015 0.49997 7.5 0.49997C7.5985 0.49997 7.69603 0.519372 7.78703 0.557067C7.87804 0.594761 7.96072 0.650012 8.03037 0.719663Z" fill="#B5B5BD"/>
     </svg>
   h2(class="size-40 fw-bold mt-4 blog-section--heading") There are many variations of passages of Lorem Ipsum
   p(class="size-18 mt-4 blog-section--txt") All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
   .blog-section__author.pt-5
    h4(class="size-17 mb-3") AUTHORS
    div(class="d-flex align-items-center")
     img(src="/images/author.png")
     div(class="ms-3")
      p(class="size-17") Louis Murerwa
      p(class="size-12 fw-light") CTO  and Co-Founder
   h2(class="size-40 fw-semibold mt-5 blog-section--heading") It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
   p(class="size-18 mt-3 blog-section--txt") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
   div(class="d-flex justify-content-between py-5 ")
    .row.flex-md-row.flex-column
     .col-lg-6.col-10.mx-auto.mb-lg-0.mb-2
      img(src="/images/blog-detail-1.png" class='w-100')
     .col-lg-6.col-10.mx-auto
      img(src="/images/blog-detail-2.png" class='w-100')
   h2(class="size-40 fw-semibold mt-5 blog-section--heading") Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
   p(class="size-18 my-5 blog-section--txt") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
   p(class="size-18 blog-section--txt") 
    |Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
   div(class="mt-5")
    h2(class="size-40 fw-semibold mb-2 blog-section--heading") There are many variations of passages of Lorem Ipsum
    p(class="size-18 blog-section--txt") 
     |Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
   div(class="mt-5")
    h2(class="size-40 fw-semibold mb-2 blog-section--heading") Many desktop publishing packages and web page
    p(class="size-18 blog-section--txt") 
     |Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
   div(class="blog-section__bookAcall mt-5 ps-md-5 ps-0")
    .row.align-items-center
     .col-md-7.col-10.mx-auto.mb-md-0.mb-3
      h3(class="size-40 fw-semibold mb-2 text-white") Many desktop publishing packages web page editors Lorem Ipsum.
     .col-md-4.col-10.mx-auto
       button(class="text-white ms-md-auto mx-auto mx-md-0 d-block") Book a call
 
.footer.mt-5
 p(class="text-white") &copy; 
  span(class="weight-700") <span class="currentYear"></span> Canny Vision - 
  span(class="weight-400") All Rights Reserved