.hero(class="bg-cover bg-center position-relative")
  <video autoplay muted loop id="myVideo"> <source src="/images/landing-page-video-canny-vision.mp4" type="video/mp4"></video>
  include ../components/navbar.pug
  include ../components/herocontent.pug
  