.ourlocations.pb-5.position-relative
 .container 
  h2(class="h2-heading text-center mb-5")  Our Locations
  .ourlocations__container.position-relative
    div(class="ourlocations__container--map")
     img(src="/images/image-map.png" class="w-100")
    div(class="ourlocations__container--info d-flex flex-column align-items-center")
     h2(class="size-38 text-center") Tornto 
     p(class="size-20 fw-bold") Phone:
      span(class="size-20 weight-200") +1 4379842129
     p(class="size-20 fw-bold") Email: 
      span(class="size-20 weight-200") contacts@canny.vision
     p(class="size-20 fw-bold") Address: 
      span(class="size-20 weight-200") 22 Close Ave M6K2V4 Toronto, Canada
.footer
 p(class="text-white") &copy; 
  span(class="weight-700") <span class="currentYear"></span> Canny Vision - 
  span(class="weight-400") All Rights Reserved



      //    <iframe src="https://maps.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6745.393772135621!2d-79.43646922351334!3d43.634430653644266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b35c6da9ab719%3A0x11bf8fd1db59ec36!2sCanny%20Vision!5e1!3m2!1sen!2sca!4v1731925529559!5m2!1sen!2sca" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
