.product-section#Product-Link(data-target='Product-Link')
 .container 
  .row.align-items-center
   .col-xl-6
    .product-section--txt.pe-3.position-relative.z-3
      h2(class="h2-heading mb-3" data-aos="fade" data-aos-duration="2000") Our Product 
      p(class=" fw-light size-22" data-aos="fade-up"   data-aos-duration="1500") Customizable, Cutting-Edge Solutions Quality, Privacy, and Security Each solution is designed to integrate seamlessly into your existing infrastructure and tailored to meet the specific needs of your organization.
      p(class=" fw-light size-22 mt-3" data-aos="fade-up"   data-aos-duration="1500") We prioritize data privacy and security, ensuring all solutions comply with Canadian standards and regulations.
   .col-xl-6
    img(src="./images/product.png" class="w-100 mw-100 mx-auto m-xl-0 d-block mt-5")

       
   