.expertise{
  margin-top: 150px;
    &__slider{
        height: 325px;
    }
    &__card{
      //  padding: 160px 0;
        max-width: 100%;
        margin: auto;
        position: relative;
        border-radius: 15px;
        border: 1px solid $black;
        overflow: hidden;
        height: 100%;
       

        &::after{
            @include after();
             
             background-image: linear-gradient(270deg, rgba(12, 15, 22, 0) 0%, #0C0F16 46%);
             
            
        }
        &::before{
            
            @include before();
            background: -webkit-gradient(linear, right top, left top, color-stop(23.5%, rgba(12, 15, 22, 0)), color-stop(62.33%, #0C0F16)),url("../images/motion.png");
            background: linear-gradient(270deg, rgba(12, 15, 22, .8) 0%, #0C0F16 100%),url("../images/motion.png");
            background-repeat: no-repeat;
            background-position: right;
            background-blend-mode: color-dodge;
            
        }
    }
    &__content {
        position: absolute;
        z-index: 999999999;
        left: 0;
        bottom: 0;
        margin: auto;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
    }
    .swiper {
        height: 100%;
    }
    .swiper-wrapper{
        align-items: center;
    }
    .swiper-slide-active{
    width: calc(50% + 280px) !important;
    transform: translate(-140px);
      .expertise__card{
       
        z-index: 9999999999;
        transform-origin: top;
        
      }
      
    }
    .swiper-slide:not(.swiper-slide-active){
        height: 85%;
       &.swiper-slide-prev{
        transform: translate(-140px);
        width: 25% !important;
        .expertise__card{
            margin-left: auto;
            margin-right: 0;
            h2,p{
                opacity: 0;
            }
        }
       }
       &.swiper-slide-next{
     
        min-width: 25% !important;
        transform: translateX(-140px);
       
       
       }
        .expertise__card{
           width: 100%;
           margin: 0;
         
          // padding: 130px 0;
           .expertise__card--txt{
            max-width: 100% !important;
            width: 100% !important;
           
           }
           
    
        }
    }
    .swiper-pagination{
    @extend %pagination;
    }

}
