.hero{

    background-image: url('../images/hero.svg');
    &::after{
        @include after();
        background: linear-gradient(180deg, rgba(17, 20, 27, 0) 0%, #000000 100%);
        top: auto;
        bottom: 0;
        height: 20%;

    }
   // height: 600px;
    &_content{
        padding: 130px 0;
        &__mainheading{
            max-width: 624px;
        }
    }






    &__nav{
        &::after{
            @include after();
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 45%, rgba(0, 0, 0, 0) 100%);
        }
      
        ul{
            li{
                &:not(:last-child){
                  a{
                    margin-right: 30px;
                  }
                }
            }
        }
    }
}

//fixed nav

body.fixed{
    .hero__nav{
      position: fixed !important;
      width: 100%;
      padding: 10px 0 !important;
      animation-name: slide;
      animation-timing-function: ease-in-out;
      animation-duration: .5s;
      animation-fill-mode: both;
      background-color: #000;
      z-index: 99999999999;
    
    }
}


@keyframes slide {
    0%{
        top: -50px;
    }
    100%{
        top: 0;
    }
}