
include ./layout/head.pug
 div(class="blog-page")
  include ./components/navbar.pug
  include ./sections/blog.pug
 
 

  



 script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
 script(src="js/script.js")
