
include ./layout/head.pug
 include ./sections/hero.pug
 div(class="overlay-product-about")
  div.overlay-product-about--pesdu
  include ./sections/about.pug
  include ./sections/product.pug
 include ./sections/expertise.pug
 include ./sections/industries.pug
 include ./sections/choose.pug
 include ./sections/latestBlog.pug
 include ./sections/ourlocations.pug
 
 

  


  
 script(src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.1/glide.js")
 script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/js/swiper.js")
 script(src="js/script.js")
